
.select2-container--default .select2-selection--single{
  padding:0px !important;
} 


html{
    overflow: hidden !important;
}

select{
    color: black !important;
     border:2px solid #aeaa79 !important;
}

.default-layout-navbar{
    z-index: 10 !important;
}


.ui-state-focus{
    background: black !important;
    color: white;
}
.custom-select{
    border: 2px solid gray !important;
color: black !important;
}

.template-demo{
    position: fixed;
    bottom: 2rem;
}

.form-tab{
    overflow-y: scroll;
}

.headings{
    background: grey;
    color: white;
}


.page-header{
    margin-bottom: 0px !important;
}

.form-select{


    border: 1px solid #38ce3c !important;
        color: black !important;
}
.mandatory{
    color: red;
}


.form-control{
    height: 30px ;
    padding: 0px !important;
    border-radius: 6px;
    margin-bottom: 6px;

/*border: 2px solid #38ce3c;
*/


border:  2px solid #aeaa79;;

}
.form-header{

    
    height: 19px !important;
    text-align: center;
    background: gray;
    padding-top: 9px;
    height: 27px !important;
    color: white;
  

}

.form-group{
    margin-bottom: .3rem;
}

.page-title{
    margin-bottom: 10px !important;
    font-weight: bold;
    margin-left:30px;
}
.dt-buttons{
    float: right;
 
}
div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
  }

  #table_result{
    padding: 8px;
    font-size: 12px;
  }


div.dt-buttons>button {
    font-size: 10px;
    height: 25px;
    width: 83px;
    padding: 0px;

}

.slide1:hover{

    cursor: pointer;
}

.slide2:hover{

    cursor: pointer;
}
.pagination{
    float: right;
}

#dynamic_ajax_table>thead{
    background: rgb(68, 62, 62);
    color: white;
    font-weight: bolder;
}
#dynamic_ajax_table_length{
    width: 50%;
    height: 25px;

}


.page-body-wrapper{
    min-height: calc(100vh - 0px);
}
.navbar-brand-wrapper,.navbar-menu-wrapper{

    height:50px !important;
}
.container-fluid{
    padding-top: 50px !important;
}
#dynamic_ajax_table>tfoot>tr>th{
    padding: 1px !important;
}
#dynamic_ajax_table>tbody>tr>td{
    padding: 4px !important;
}
.form-label{
    font-size: 14px !important;
    font-weight: bold;
    float: left;
    padding-top: 0.4rem !important;
}
.dtbl_frm_cntrl{
    height: 20px  !important;
}
#dynamic_ajax_table>thead>tr>th{
    padding: 5px !important;
}
.icon-md{
    font-size: 23px !important;
  
}

.slide1,.slide2{
    margin: -18px !important;
    color: white;
}
.save_btn,.reset_btn,.edit_btn{
margin-top: 0px !important;
font-size: 14px !important;
}
.btn-icon-prepend{
    font-size: 0.7rem !important;
}

#table_result{
    background: white;
}
.btn-dtbl{
    margin-top: 0px !important;
font-size: 10px !important;
}
#form-div,#table-div{
    background: white;


}
.content-wrapper{
    padding: 0px !important;
}

.footer{
position: fixed;
bottom: -17px;

}

.select2-selection__choice{
    height: 28px;
   
    padding-top: 5px !important;
}
.select2-selection__choice__remove{
    font-size: 18px !important;
    padding: 2px 4px !important;
}
.select2-selection__choice__display{
    font-size: 15px;
}

